.homepage {
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content:center;

}

.article-list {
  width:70%;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content:center;
}